
.container:hover .overlay {
    opacity: 1;
  }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #aa2804;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 155px;
  text-align: center
}
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    padding: 5px;
  }

  .demo {
    opacity: 0.6;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 220px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .container {
    position: relative;
    width: 50%;
    max-width: 300px;
  }